/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E3FEF7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos del encabezado */
header {
  background-color: #003C43; /* Color principal del encabezado */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 32px;
}
nav ul {
  list-style: none;
  margin: 10px 0;
}

nav ul li {
  display: inline;
  margin: 10px 0;
}

/* Estilos de los enlaces en la navegación */
nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border: none;
  margin: 0px 8px;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

/* Estilos de las secciones */
section {
  padding: 60px 0;
  text-align: center;
}

section h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

/* Estilos del formulario de contacto */
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

form button {
  background-color: #77B0AA;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Centra el botón y añade un espacio de 20px en la parte inferior */
}
form button:hover {
  background-color: #135D66; /* Cambiado para resaltar el color en el hover */
}
/* Estilos de la sección de lenguajes */
.lenguajes {
  padding: 60px 0;
  text-align: center;
}

.lenguajes h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #000000;
}

.lenguajes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lenguaje {
  margin: 0 20px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.lenguaje:hover {
  transform: skewX(12deg);
}

.lenguaje img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.lenguaje p {
  font-size: 18px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #727272 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #727272;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}
/* Estilos de las imágenes de los proyectos */
.proyecto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Estilos de los contenedores de los proyectos */
.proyecto {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
}
.proyectos h2 {
    font-size: 28px;
    color: #000000;
}

.proyecto h3 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #5d5d5d;
}

.proyecto p {
  font-size: 16px;
  color: #555;
  margin:10px 0 0 0;
}
.proyecto a {
    color: #000000;
}
footer {
    background-color: #003C43; /* Color principal del pie de página */
    color: #E3FEF7; /* Color del texto en el pie de página */
}
footer h2 {
    padding-top:20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeIn 1s ease;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 1 !important;
}

.fadeIn {
  animation: fadeInFromTop 1s ease;
}



@media screen and (min-width: 1200px) {
  header {
    padding: 30px 0; /* Aumenta el padding del encabezado para PC */
  }

  header h1 {
    font-size: 58px; /* Aumenta el tamaño del encabezado para PC */
  }
    nav ul li {
        margin: 20px 0;
    }
  nav ul li a {
    font-size: 30px; /* Aumenta el tamaño de la fuente en la navegación para PC */
    margin: 0px 40px;
    
  }

  .container {
    padding: 0 80px; /* Aumenta el padding lateral para PC */
    font-size: 30px;
  }
  section {
    padding: 80px 0; /* Aumenta el padding de las secciones para PC */
  }

  section h2 {
    font-size: 50px; /* Aumenta el tamaño de los títulos de sección para PC */
  }
  .lenguaje {
    margin: 0 50px; /* Aumenta el espacio entre los elementos de lenguajes para PC */
  }
  .container h2 {
      font-size: 50px;
  }
  .lenguaje img {
    width: 250px; /* Aumenta el tamaño de las imágenes de lenguajes para PC */
    height: 250px;
    margin-bottom: 10px;
  }

  .proyecto {
    padding: 30px; /* Aumenta el padding de los proyectos para PC */
  }
  .proyecto h2 {
      font-size: 50px;
  }
  .proyecto h3 {
    font-size: 40px; /* Aumenta el tamaño de los títulos de proyecto para PC */
  }

  .proyecto p {
    font-size: 30px; /* Aumenta el tamaño del texto de proyecto para PC */
  }

  footer {
    padding: 60px 0; /* Aumenta el padding del pie de página para PC */
  }

  footer h2 {
    font-size: 50px; /* Aumenta el tamaño de los títulos de pie de página para PC */
  }

  form input,
  form textarea {
    width: 100%; /* Ajusta el ancho de los inputs y textarea al 100% para PC */
    margin-bottom: 20px;
    padding: 15px;
    font-size: 30px;
  }

  .form-control {
    width: 100%; /* Ajusta el ancho de los form-control al 100% para PC */
    margin: 20px 0 40px;
  }

  form button {
    width: 100%; /* Ajusta el ancho de los botones al 100% para PC */
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
  }
  .form-control label span {
      font-size: 30px;
  }
  .form-control input {
      font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  header h1 {
    font-size: 42px; /* Tamaño del encabezado para tablet */
  }

  nav ul li {
    margin: 15px 0; /* Ajuste del margen entre elementos de navegación para tablet */
  }

  nav ul li a {
    font-size: 24px; /* Tamaño de fuente para enlaces de navegación en tablet */
    margin: 0px 20px; /* Ajuste del margen entre enlaces de navegación para tablet */
  }

  .container {
    padding: 0 40px; /* Ajuste del padding lateral para tablet */
    font-size: 24px; /* Tamaño de fuente para tablet */
  }

  section {
    padding: 60px 0; /* Ajuste del padding de las secciones para tablet */
  }

  section h2 {
    font-size: 36px; /* Tamaño de título de sección para tablet */
  }

  .lenguaje {
    margin: 0 30px; /* Ajuste del margen entre elementos de lenguajes para tablet */
  }

  .lenguaje img {
    width: 150px; /* Tamaño de imágenes de lenguajes para tablet */
    height: 150px;
    margin-bottom: 15px; /* Ajuste del margen inferior para tablet */
  }

  .proyecto {
    padding: 20px; /* Ajuste del padding de los proyectos para tablet */
  }

  .proyecto h3 {
    font-size: 25px; /* Tamaño de título de proyecto para tablet */
  }

  .proyecto p {
    font-size: 20px; /* Tamaño de texto de proyecto para tablet */
  }

  footer {
    padding: 40px 0; /* Ajuste del padding del pie de página para tablet */
  }

  footer h2 {
    font-size: 36px; /* Tamaño de título de pie de página para tablet */
  }

  form input,
  form textarea {
    width: 100%; /* Ancho de inputs y textarea al 100% para tablet */
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px; /* Tamaño de fuente para inputs y textarea en tablet */
  }

  .form-control {
    width: 100%; /* Ancho de form-control al 100% para tablet */
    margin: 20px 0 40px;
  }

  form button {
    width: 100%; /* Ancho de botones al 100% para tablet */
    margin-top: 20px;
    padding: 15px;
    font-size: 24px; /* Tamaño de fuente para botones en tablet */
  }

  .form-control label span {
    font-size: 24px; /* Tamaño de fuente para etiquetas de form-control en tablet */
  }

}
